{% extends "wrapper.html" %}
{% load i18n allauth account %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>
        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
    </p>
    
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% comment %} {% element fields form=form|crispy %}
            {% endelement %} {% endcomment %}
            {{ form|crispy }}
            {{ redirect_field }}
            <br>
        {% endslot %}
        {% slot actions %}
            {% comment %} {% element button type="submit" %}
                {% trans 'Reset My Password' %}
            {% endelement %} {% endcomment %}
            <button class="btn btn-success" type="submit">Reset My Password</button>
        {% endslot %}
    {% endelement %}
    <p>
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </p>
{% endblock content %}