{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'logo22.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'assets/bootstrap-5.3.1-dist/css/bootstrap.min.css' %}">


    <!--icons-->
    <link rel="stylesheet" href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="stylesheet" href="{% static 'homepage.css' %}">

    <title>About Us - MCCOY</title>
    <!-- AOS Library CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Shop Complex</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://myshopcomplex.com/#get-started">
                            Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://myshopcomplex.com/#setup">
                            Set Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://myshopcomplex.com/#contact">
                            Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aboutus' %}">
                            About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'loginform' %}">Sign In</a>
                            <a class="dropdown-item" href="{% url 'registerform' %}">Register</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-4">
        <h1 class="display-4 text-center mb-4">About Us</h1>

        <p class="lead text-center">Welcome to Shop Complex Powered By MCCOY- where showcasing your business
            becomes effortless and affordable.</p>

        <h2 class="mt-5" data-aos="fade-up">Our Mission</h2>
        <p data-aos="fade-up">At Shop Complex, we are on a mission to empower business owners, especially those who
            may find it
            challenging
            to afford a dedicated website. We believe that every business deserves a chance to shine online.</p>

        <h2 class="mt-5" data-aos="fade-up">Our Vision</h2>
        <p data-aos="fade-up">We envision a world where every business, regardless of size or budget, can effectively
            present itself to a
            global audience. Our vision is to break down barriers and provide accessible, affordable, and high-quality
            online presence solutions.</p>

        <h2 class="mt-5" data-aos="fade-up">Why Choose Shop Complex?</h2>
        <p data-aos="fade-up">We understand the challenges faced by small businesses, and that's why we offer a
            more-than-affordable means
            for you to showcase your business. Our commitment is to provide a platform that levels the playing field,
            ensuring everyone has access to the digital tools they need.</p>

        <!-- <h2 class="mt-5">Meet the Team</h2>
        <p>Behind MCCOY Concepts is a passionate team dedicated to making your online presence a success. Meet the
            individuals driving our mission forward:</p> -->

        <!-- Add images and bios of team members here -->

        <h2 class="mt-5" data-aos="fade-up">Get in Touch</h2>
        <p class="mb-5" data-aos="fade-up">We're here to support you on your journey. If you have any questions or would
            like to learn more
            about our services, feel free to <a href="https://myshopcomplex.com/#contact">contact us</a>.</p>

    </div>

    <a href="#top" class="back-to-top btn btn-secondary d-none"><i class="bi bi-arrow-up"></i></a>

    <!-- Footer -->
    <footer class="bg-light text-dark text-center py-3">
        <div class="container">
            <p>&copy;2023 Shop Complex | <a href="{% url 'privacy_policy' %}" class="text-dark">Privacy
                    Policy</a> | <a href="{% url 'terms_of_service' %}" class="text-dark">Terms of
                    Service</a> | <a href="{% url 'refund_policy' %}" class="text-dark">Refund Policy</a> </p>
        </div>
    </footer>

    <!-- AOS Library Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <!--For Back to Top Link-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // AOS initialization
            AOS.init({
                duration: 800,
                easing: 'ease-in-out',
                once: true, // Only initialize once
            });

            // Your other scripts...

            window.addEventListener('scroll', function () {
                var backToTop = document.querySelector('.back-to-top');
                if (window.scrollY > 100) {
                    backToTop.classList.remove('d-none');
                    backToTop.style.opacity = '1';
                } else {
                    backToTop.style.opacity = '0';
                    setTimeout(function () {
                        backToTop.classList.add('d-none');
                    }, 300); // Delay the hiding of the link for smoother transition
                }
            });

            document.querySelector('.back-to-top').addEventListener('click', function (e) {
                e.preventDefault();
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            });
        });
    </script>

    <!-- Smooth Scroll -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>