{% extends 'reg_log.html' %}
{% load static %}

{% block content %}
<!--Logo-->
<div class="container my-5">
    <div class="row">
        <!--Logo-->
        <a href="{% url 'home' %}"> <img src="{% static 'assets/logo/logo.png' %}" class="rounded mx-auto d-block mt-2"
                style="width: 200px;" alt="logo"></a>
    </div>

    <!--Login Form-->
    <div class="row justify-content-center mt-2">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Super_Admin</h5>
                        <p class="text-center small">Enter your email & password to login</p>
                        <br>
                        {% include 'messages.html' %}

                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <!--USername-->
                        <div class="col-12">
                            <label for="yourEmail" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="text" name="superemail" class="form-control" id="yourEmail" required>
                                <div class="invalid-feedback">Super_Admin Email.</div>
                            </div>
                        </div>
                        <!--End Username-->
                        <!--Password-->
                        <div class="col-12 my-2 mb-4">
                            <label for="yourPassword" class="form-label">Password</label>
                            <input type="password" name="superpassword" class="form-control" id="yourPassword"
                                autocomplete="password" required>
                            <div class="invalid-feedback">Super_Admin Password!</div>
                        </div>
                        <!--End Password-->

                        <div class="col-12 text-center">
                            <button class="btn btn-primary mb-2" type="submit">Login</button>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}